doctype html
html
    head
        title Twilio Client Test
        link(href="http://static0.twilio.com/bundles/quickstart/client.css", type='text/css', rel='stylesheet')
    body
        script(src='//static.twilio.com/libs/twiliojs/1.1/twilio.min.js')
        script(src='//code.jquery.com/jquery-1.9.1.min.js')
        script(type='text/javascript').
            $(document).ready(function () {
                Twilio.Device.setup("#{token}");
                var connection = null;
                $("#call").click(function () {
                    params = {"tocall": '441133202938'};
                    connection = Twilio.Device.connect(params);
                });
                $("#hangup").click(function () {
                    Twilio.Device.disconnectAll();
                });
                Twilio.Device.ready(function (device) {
                    $('#status').text('Ready to start call');
                });
                Twilio.Device.incoming(function (conn) {
                    if (confirm('Accept incoming call from ' + conn.parameters.From + '?')) {
                        connection = conn;
                        conn.accept();
                    }
                });
                Twilio.Device.offline(function (device) {
                    $('#status').text('Offline');
                });
                Twilio.Device.error(function (error) {
                    $('#status').text(error);
                });
                Twilio.Device.connect(function (conn) {
                    $('#status').text("Successfully established call");
                    toggleCallStatus();
                });
                Twilio.Device.disconnect(function (conn) {
                    $('#status').text("Call ended");
                    toggleCallStatus();
                });
                function toggleCallStatus() {
                    $('#call').toggle();
                    $('#hangup').toggle();
                    $('#dialpad').toggle();
                }

                $.each(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'star', 'pound'], function (index, value) {
                    $('#button' + value).click(function () {
                        if (connection) {
                            if (value == 'star')
                                connection.sendDigits('*')
                            else if (value == 'pound')
                                connection.sendDigits('#')
                            else
                                connection.sendDigits(value)
                            return false;
                        }
                    });
                });
            });


    input#call(type='button', value='Start Call')
    input#hangup(type='button', value='Hangup Call', style='display:none;')
    #status Offline
    #dialpad(style='display:none;')
        table
            tr
                td
                    input#button1(type='button', value='1')
                td
                    input#button2(type='button', value='2')
                td
                    input#button3(type='button', value='3')
            tr
                td
                    input#button4(type='button', value='4')
                td
                    input#button5(type='button', value='5')
                td
                    input#button6(type='button', value='6')
            tr
                td
                    input#button7(type='button', value='7')
                td
                    input#button8(type='button', value='8')
                td
                    input#button9(type='button', value='9')
            tr
                td
                    input#buttonstar(type='button', value='*')
                td
                    input#button0(type='button', value='0')
                td
                    input#buttonpound(type='button', value='#')

